@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

#socials-container{
    position: relative;
    align-items: center;
    width: 100%;
    align-content: center;
    text-align: center;
}

.icons{
    color: #404040;
    padding: 20px;
}

.icons:hover{
    color:  #909090;
}

#main_pic{
    position: relative;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.2);
}