@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

.socials-container{
    position: relative;
    align-items: center;
    width: 100%;
    align-content: center;
    text-align: center;
}

.icons{
    color: #404040;
    padding: 20px;
}

.icons:hover{
    color:  #808080 !important;
}



#bio_text{
    padding: 50px;
    color: white;
    background-color: #404040;
    margin-top: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 0 9px 5px rgba(0, 0, 0, 0.2);
}

.bio_p{
    color: white;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.carousel-item{
    height: 700px;
} 
.carousel-item img{
    height: 700px;
}

#image_carousel{
    position: relative; 
    width: 60%; 
    left: 50%; 
    margin-top: 50px;
    transform: translateX(-50%);
    box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.2);
}

#video{
    position: relative;
    padding: 20px;
}

#video_Text{
    position: relative;
    color: white; 
    font-weight: bold;
    padding-top: 20px;
}

#footer{
    box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    height: 200px;
}

#video_section{
    background-color: #404040; 
    margin-top: 50px; 
    text-align: center; 
    box-shadow: inset 0 0 9px 5px rgba(0, 0, 0, 0.2);
}

#personal_details{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.2);
}

.details_component{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#main_pic{
    position: relative;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 0 9px 5px rgba(0, 0, 0, 0.2);
}